*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background:rgba(13, 6, 39, 0.97) url(img/fon.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.wrapper{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    color:#fff;;
}
.aside-block{
   box-sizing: border-box;
    width: 350px;
    background: rgba(11, 11, 13, 0.8);
    opacity: 0.7;
    color: #fff;
    text-align: center;
    padding: 70px 0px 100px 0px;
    font-size: 17px; /* размер шрифта текста */
    text-transform: uppercase; /* сделать заглавными все */
    letter-spacing: 5px; /* расстояние между буквами */
}
a{
    text-decoration: none;
    color: #FFF;
}
.aside-block ul{
    list-style-type: none;
    font-family: 'Oswald', sans-serif ;
    letter-spacing: 2px;

}
p{
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Oswald',sans-serif;
}
#pp{
    color: #A276FF;
}
#pp:hover{
    color: #F2C94C;
}
#first{
    margin-right: 150px;
    padding-left:140px;
    color: #A276FF;
    border-left: 4px solid #A276FF;
}
.aside-block li{
    padding: 20px 20px 20px 0px;
    color: #fff;
}
.aside-block li:hover{
    color: #F2C94C;
    border-left: 4px solid #F2C94C;
}
.support{
    margin: 200px 0px 30px 0px;
    opacity: 15%;
}
.copyright{
    font-family: 'Oswald',sans-serif;
    font-size: larger;
    color: #FFF;
    opacity: 15%;
    letter-spacing: 0px;
    transform: translateY(80px);
}
.content{
    width: 1090px;
    height: auto;
    position: relative;
}
main{
    margin: 100px 50px 100px 100px;
}
.social-block{
    position: absolute;
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #A276FF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    right: 150px;
}
.social-block:hover{
    background-color: #F2C94C;
}
header h2{
    margin-top: 240px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 36px;
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 10px;
}
header h1 {
    width: fit-content;
    text-transform: uppercase;
    font-size: 50px;
    color: #A276FF;
    font-family: 'Montserrat',sans-serif;
    transform: scaleY(2);
    margin-bottom: 40px;
}
header h1:hover{
    color: #F2C94C;
}
.text1{
    width: 750px;
    text-align: justify;
    margin-bottom: 60px;
    font-family: 'Roboto',sans-serif;
    font-size: larger;
}
.common-button {
    border:solid 3px #ffffff;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 15px 80px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
}
.gallery {
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}
.gallery .item {
    width:20%;
    border: solid 6px #ffffff;
    border-radius: 11px;
    overflow: hidden;
    position: relative;
}
.gallery .item:hover {
    border-color: #F2C94C;
}

.news {
    margin-top: 5em;
    color: #ffffff;
    font-family: 'Montserrat',sans-serif;

}
.news h2 {
    text-transform: uppercase;
    font-size: 36px;
    margin: 0;
}
/* .triangle :hover{
    stroke:"#F2C94C";
    stroke-width: "3";
} */

.common-button:hover{
    border:3px solid #F2C94C;
    border-radius: 17px;
}
article{
    width: 900px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size:small;

}